html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title Clean Frontend Base

        link(type="text/css", rel="stylesheet", href="style/index.css")
    body
        include pages/partials/header

        main
            aside
                nav
                    a(href='pages/page.html') Page